<?xml version="1.0" encoding="utf-8"?>
<manifest
xmlns:android="http://schemas.android.com/apk/res/android"
>
    <application>
        <meta-data android:name="isAnyNewsExtension" android:value="true" />
        <meta-data android:name="className" android:value="S2JNews" />
        <meta-data android:name="name" android:value="S2J News" />
        <meta-data android:name="logoURL" android:value="https://s2jnews.com/wp-content/uploads/2023/05/Logo_Main-02-300x169.png" />
        <meta-data android:name="siteURL" android:value="https://s2jnews.com/" />
    </application>
</manifest>